#sidebar-menu{
    background-color: #2A3F54;
    height: auto;
    margin-top: 0px;
    min-height: 670px;
    font-size: medium;
    float: left;
}
ul{
    list-style: none;
    float: left;
}
li{
    margin-right: 120px;
}
a{
    float: left;
    color:red;
}
